@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
 margin: 0;
}

html {
  max-width: 1200px;
  max-height: 615px;
  background-color: #100e1d
}


.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.input {
  border: 1px solid #ccc;
  margin: 0px;
  padding: 10px;
  color: white;
  background-color: #1e213a;
}

button {
  padding: 11.5px 20px;
  margin-left: 10px;
  background-color: #3c47e9;
  color: white;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.buscar {
  margin-top: 40px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.current-weather {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.containerPrincipal {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  display: flex;
  flex-direction: row;
}

.containerClimaHoy {

  
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #1e213a;
  width: 400px;
  height: 618px;
}

.climaHoy {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.climaHoy > img {
  margin-top: 30px;
  width: 130px;
  height: 130px;
}

.climaHoy > div {
  margin-top: 30px;
  display: flex;
 

}

.c1 {
  font-size: 30px;
  color: #a8a7b9;
  padding-top: 70px;
  margin-left: 10px;
}

.c {
  font-size: 100px;
  color: white;
}

.pronostico {
  display: flex;
  justify-content: space-between;
}

.climita {
  margin-top: 30px;
  font-size: 25px;
  color: #a8a7b9;
}

.lugar{
  margin-top: 50px;
  font-size: 14px;
  color: #a8a7b9;
}


.cardPronostico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  
  height: 150px;
  width: 100px;
  background-color: #1e213a;
}

.cardPronostico > img {
  width: 40px;
  height: 40px;
  display: flex;
  
  justify-content: center;
  align-content: center;
  margin-top: 8px;
  
}

.cardPronostico > span {
  font-size: 14px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  color: white;
}

.s {
margin-top: 8px;
  display: flex;
}

.s1 {
  font-size: 11px;

}

.s2 {
  margin-left: 8px;

   font-size: 11px;
   color: #a8a7b9;
}

.cositaDeAbajo {
  color: white;
  font-size: 10px;
}

.detalles {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-content: center;
}

.arriba{
  gap: 2rem;
}

.abajo {
  gap: 2rem;
}

.wind {
  height: 150px;
  width: 280px;
  background-color: #1e213a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 40px;

}

.ws1 {
  color: #a8a7b9;
}

.ws2 {
 
  font-size: 30px;
  color: white;

}


.humidity {
  height: 150px;
  width: 280px;
  background-color: #1e213a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.humidity > span {
  padding-left: 80px;
  
}

.hs1 {
  color: #a8a7b9;
}

.hs2 {
  margin-left: 8px;
  font-size: 30px;
  color: white;
}



.air {
  height: 100px;
  width: 280px;
  background-color: #1e213a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.as1{
  color: #a8a7b9;
}

.as2{
  font-size: 30px;
  color: white;
}

.visibility {
  height: 100px;
  width: 280px;
  background-color: #1e213a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.vs1 {
  color: #a8a7b9;
}

.vs2 {
  font-size: 30px;
  color: white;
}

.arriba {
  display: flex;
  justify-content: space-between;
  color: white;


}

.abajo {
  display: flex;
  justify-content: space-between;

}

.derecha { 
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 800px
}